/* CSS Style */
a {
  color: currentColor;
  text-decoration: none;
}

.logger {
  background-color: #1e88e5;
  border: 2px solid #1976d2;
  border-radius: 5px;
  z-index: 1;
  position: absolute;
  width: 20%;
  height: 20%;
  right: 0px;
  bottom: 0px;
  color: white;
  padding: 1%;
  overflow-y: scroll;
}

body 
{
  background : linear-gradient(black, red);
  background-attachment: fixed; 

}

.logger p {
  font-family: "Gill Sans", sans-serif;
}

#title
{
  background : linear-gradient(rgba(148, 146, 146, 0.815), rgb(250, 250, 250));
  color: rgb(17, 20, 195);
  font-size: 3.2rem;
  border-style: ridge;
  text-align: center;
  margin : 2% 30%;
  padding : 1% 0;
  border-color: brown;
  border-width: 1rem;
  margin-bottom: 10%;
}

.choice
{
  background : linear-gradient(rgba(148, 146, 146, 0.815), rgb(250, 250, 250));
  color: rgb(17, 20, 195);
  font-size: 2.6rem;
  border-style: ridge;
  border-color: brown;
  text-align: center;
  border-width: 1rem;
  margin : 2% 20%;
  margin-bottom: 5%;
  padding : 1% 0;
}

@media screen and (max-width: 1000px)
{
  #title
  {
    font-size: 3em;
    margin: 3% 12%;
    margin-bottom: 30%;
    margin-top: 10%;
    border-width: 0.7rem;
  }
  .choice
  {
    font-size: 2.4em;
    border-width: 0.5rem;
  }
}
