/* CSS Style */
a {
  color: currentColor;
  text-decoration: none;
}
.logger {
  background-color: #1e88e5;
  border: 2px solid #1976d2;
  border-radius: 5px;
  z-index: 1;
  position: absolute;
  width: 20%;
  height: 20%;
  right: 0px;
  bottom: 0px;
  color: white;
  padding: 1%;
  overflow-y: scroll;
}

* {padding: 0; margin: 0;}

html, body 
{ 
   height: 100%; 
}


.logger p {
  font-family: "Gill Sans", sans-serif;
}

.section
{
  overflow: hidden;
  height: auto;
  min-height: 50%;
  text-align: center;
  display: block;
}

.p_section
{
  font-size: 4em;
  color: antiquewhite;
  margin-top: 40%;
}

#wasted
{
  margin-left: 35%;
  margin-top: 80%;
  padding: 10%;
  display: block;
  text-align: center;
  background-color: #E7AB5B;
  position: absolute;
  z-index: 20;
}

#C_P
{
  background-color: #655BE7;
}
#J_P
{
  background-color: #E7655B;
}


@media screen and (max-width: 1000px)
{

}
