/* CSS Style */
.logger {
  background-color: #1e88e5;
  border: 2px solid #1976d2;
  border-radius: 5px;
  z-index: 1;
  position: absolute;
  width: 20%;
  height: 20%;
  right: 0px;
  bottom: 0px;
  color: white;
  padding: 1%;
  overflow-y: scroll;
}

.logger p {
  font-family: "Gill Sans", sans-serif;
}

#title
{
  background : linear-gradient(rgba(148, 146, 146, 0.815), rgb(250, 250, 250));  
  color: rgb(35, 95, 40);
  font-size: 3rem;
  border-style: ridge;
  text-align: center;
  margin : 2% 40%;
  padding : 1% 0;
  border-color: brown;
  border-width: 1rem;
}

@media screen and (max-width: 800px) 
{
  #title
  {
    font-size: 2em;
    margin: 3% 25%;
    border-width: 0.7rem;
  }
}